body {
  font-family: Arial, sans-serif;
  margin-bottom: 60px;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.stall-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  cursor: pointer;
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.thumbnail-container img {
  width: 18%;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail-container img:hover,
.thumbnail-container img.active {
  border: 2px solid #000;
}

.stall-details {
  text-align: left;
}

.stall-details p {
  margin: 5px 0;
}

.spot-mistake-container {
  text-align: center;
  margin: 20px 0;
}

.spot-mistake {
  font-weight: bold;
  color: black;
}

.reviews {
  margin-top: 30px;
}

.reviews h2 {
  text-align: left;
}

.review {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.review-header {
  display: flex;
  justify-content: space-between;
}

.leave-review-btn {
  background-color: #ff9b62;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.leave-review-btn:hover {
  background-color: #e5834b;
}

#review-form {
  margin-top: 20px;
}

#review-form .form-group {
  margin-bottom: 10px;
}

#review-form label {
  display: block;
  margin-bottom: 5px;
}

#review-form input,
#review-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

#review-form button {
  background-color: #ff9b62;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#review-form button:hover {
  background-color: #e5834b; /* Secondary color */
}
