/* stalls.css */

body {
  font-family: Arial, sans-serif;
  margin-top: 40px;
  margin-bottom: 60px;
  line-height: 1.6;
  background-color: #f9f9f9;
}

button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ff9b62;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e5834b;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.stall-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.stall-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 calc(33.333% - 32px);
  max-width: calc(33.333% - 32px);
  min-width: 250px;
  transition: transform 0.3s;
}

.stall-card:hover {
  transform: scale(1.05);
}

.stall-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.stall-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stall-details p {
  margin: 0;
  color: #555;
}

@media screen and (max-width: 768px) {
  .stall-card {
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

@media screen and (max-width: 480px) {
  .stall-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
