body {
  font-family: Arial, sans-serif;
  margin-bottom: 60px;
  background-color: #f9f9f9;
}

.profile-container {
  text-align: center;
  margin: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-container h1,
.profile-container p {
  margin: 10px 0;
}

.edit-button,
.change-password-button,
.upload-button,
.delete-button,
button {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ff9b62;
  color: white;
  cursor: pointer;
  text-align: center;
}

.edit-button:hover,
.change-password-button:hover,
.upload-button:hover,
.delete-button:hover,
button:hover {
  background-color: #e5834b;
}

.menu {
  background-color: #eee;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ddd;
}

.submit-new-stall {
  font-weight: bold;
}

#edit-profile,
#change-password {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

#edit-profile h2,
#change-password h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #ff9b62;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e5834b;
}

form {
  display: flex;
  flex-direction: column;
}
